
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1500547643296'); /* IE9*/
  src: url('iconfont.eot?t=1500547643296#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1500547643296') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1500547643296') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1500547643296#iconfont') format('svg'); /* iOS 4.1- */
}

.qy-iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*icon-class*/
.icon-xiaoxi:before { content: "\e612"; }

.icon-tubiao-jingshi:before { content: "\e6bb"; }

.icon-tubiao-BB:before { content: "\e6c3"; }

.icon-tubiao-BC:before { content: "\e6c4"; }

.icon-tubiao-shouye:before { content: "\e6c6"; }

.icon-tubiao-jiage:before { content: "\e6c7"; }

.icon-tubiao-cuxiao:before { content: "\e6c8"; }

.icon-tubiao-tongzhi:before { content: "\e6c9"; }

.icon-tubiao-guanbi:before { content: "\e6ca"; }

.icon-tubiao-bangzhu:before { content: "\e6cb"; }

.icon-tubiao-zhuxiao:before { content: "\e6cf"; }

.icon-tubiao-guanli:before { content: "\e6d0"; }

.icon-tubiao-xiugaimima:before { content: "\e6d1"; }

.icon-tubiao-shezhi:before { content: "\e6d2"; }

.icon-tubiao-jichu1:before { content: "\e6d7"; }

.icon-tubiao-liaotian:before { content: "\e6d8"; }

.icon-tubiao-qudao:before { content: "\e6d9"; }

.icon-tubiao-chanpin:before { content: "\e6da"; }

.icon-tubiao-xitong:before { content: "\e6db"; }

.icon-tubiao-kucun:before { content: "\e6dc"; }

.icon-tubiao-peiche:before { content: "\e6dd"; }

.icon-tubiao-shouhou:before { content: "\e6de"; }

