
@font-face {font-family: "iconfont_iform";
  src: url('iconfont.eot?'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?#iconfont_iform') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont_iform" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*icon-class*/
.icon-arrowup:before { content: "\e612"; }

.icon-zhongzhi:before { content: "\e667"; }

.icon-xitong:before { content: "\e67b"; }

.icon-baocun:before { content: "\e668"; }

.icon-component:before { content: "\e655"; }

.icon-star:before { content: "\e611"; }

.icon-plus:before { content: "\e614"; }

.icon-mail:before { content: "\e66a"; }

.icon-tongzhi:before { content: "\e677"; }

.icon-tishi:before { content: "\e66f"; }

.icon-ok:before { content: "\e670"; }

.icon-star1:before { content: "\e613"; }

.icon-arrow-down:before { content: "\e615"; }

.icon-arrow-up:before { content: "\e616"; }

.icon-design:before { content: "\e65d"; }

.icon-iconfont:before { content: "\e6a8"; }

.icon-duanxin:before { content: "\e66b"; }

.icon-nccloud:before { content: "\e600"; }

.icon-nccloudhr:before { content: "\e601"; }

.icon-alarmsmd:before { content: "\e603"; }

.icon-arrowdown:before { content: "\e604"; }

.icon-bookmarks:before { content: "\e605"; }

.icon-favorite:before { content: "\e607"; }

.icon-help:before { content: "\e608"; }

.icon-home:before { content: "\e609"; }

.icon-more:before { content: "\e60a"; }

.icon-pcmac:before { content: "\e60b"; }

.icon-search:before { content: "\e60c"; }

.icon-setting01:before { content: "\e60d"; }

.icon-setting02:before { content: "\e60e"; }

.icon-text:before { content: "\e60f"; }

.icon-uesrs:before { content: "\e610"; }

.icon-cancel:before { content: "\e602"; }

.icon-adduser:before { content: "\e617"; }

.icon-dustbin:before { content: "\e618"; }

.icon-morebarrow:before { content: "\e619"; }

.icon-picture:before { content: "\e61b"; }

.icon-appicon:before { content: "\e61a"; }

.icon-informationicon:before { content: "\e61d"; }

.icon-organizationicon:before { content: "\e61e"; }

.icon-usericon:before { content: "\e61f"; }

.icon-moreicon:before { content: "\e621"; }

.icon-money:before { content: "\e623"; }

.icon-formthree:before { content: "\e624"; }

.icon-date:before { content: "\e625"; }

.icon-date1:before { content: "\e626"; }

.icon-mtext:before { content: "\e62f"; }

.icon-formtwo:before { content: "\e627"; }

.icon-mobilephone:before { content: "\e628"; }

.icon-mail1:before { content: "\e629"; }

.icon-morebarrow1:before { content: "\e62a"; }

.icon-text1:before { content: "\e62b"; }

.icon-checkbox:before { content: "\e62c"; }

.icon-radio:before { content: "\e62d"; }

.icon-enclosure:before { content: "\e62e"; }

.icon-form:before { content: "\e622"; }

.icon-setting:before { content: "\e630"; }

.icon-input:before { content: "\e631"; }

.icon-phone:before { content: "\e632"; }

.icon-add:before { content: "\e61c"; }

.icon-lock:before { content: "\e633"; }

.icon-palette:before { content: "\e634"; }

.icon-systemmanagement:before { content: "\e635"; }

.icon-message:before { content: "\e606"; }

.icon-adduser02:before { content: "\e620"; }

.icon-link:before { content: "\e636"; }

.icon-linkbreak:before { content: "\e637"; }

.icon-pencil:before { content: "\e639"; }

.icon-delete:before { content: "\e63a"; }

.icon-cancel02:before { content: "\e63b"; }

.icon-confirm:before { content: "\e63c"; }

.icon-s-plus:before { content: "\e63d"; }

.icon-xs-plus:before { content: "\e63e"; }

.icon-authorizationicon:before { content: "\e638"; }

.icon-selecticon:before { content: "\e63f"; }

.icon-accounticon:before { content: "\e640"; }

.icon-passwordicon:before { content: "\e642"; }

.icon-hiddentexticon:before { content: "\e643"; }

.icon-pinicon:before { content: "\e644"; }

.icon-icon4:before { content: "\e66e"; }

.icon-autohiddenicon:before { content: "\e641"; }

.icon-adminicon:before { content: "\e645"; }

.icon-arrowicon:before { content: "\e646"; }

.icon-row2column:before { content: "\e648"; }

.icon-row3column:before { content: "\e649"; }

.icon-tablelayout:before { content: "\e64a"; }

.icon-childtable:before { content: "\e64b"; }

.icon-canvas:before { content: "\e64d"; }

.icon-component1:before { content: "\e64c"; }

.icon-property:before { content: "\e64e"; }

.icon-regisered:before { content: "\e650"; }

.icon-logout:before { content: "\e651"; }

.icon-part:before { content: "\e652"; }

.icon-personalized:before { content: "\e653"; }

.icon-skin:before { content: "\e654"; }

.icon-usermanagement:before { content: "\e656"; }

.icon-layout:before { content: "\e647"; }

.icon-packup:before { content: "\e657"; }

.icon-max:before { content: "\e658"; }

.icon-mini:before { content: "\e659"; }

.icon-unfold:before { content: "\e65a"; }

.icon-management:before { content: "\e65b"; }

.icon-template:before { content: "\e65c"; }

.icon-adminmanagement:before { content: "\e65e"; }

.icon-adminmenu:before { content: "\e65f"; }

.icon-application:before { content: "\e660"; }

.icon-company:before { content: "\e661"; }

.icon-license:before { content: "\e662"; }

.icon-menu:before { content: "\e663"; }

.icon-rolemanagement:before { content: "\e664"; }

.icon-smallauthorization:before { content: "\e665"; }

.icon-thewidget:before { content: "\e666"; }

.icon-bumen:before { content: "\e67c"; }

.icon-bianjituxing:before { content: "\e676"; }

.icon-jian:before { content: "\e66c"; }

.icon-head:before { content: "\e669"; }

.icon-xiaobujianshouquan:before { content: "\e66d"; }

.icon-arrowright:before { content: "\e671"; }

.icon-arrowleft:before { content: "\e672"; }

.icon-qiyegongchangjianzhu:before { content: "\e678"; }

.icon-shenqing:before { content: "\e673"; }

.icon-sousuo1:before { content: "\e674"; }

.icon-sousuo2:before { content: "\e675"; }

.icon-guanliyuan:before { content: "\e67d"; }

.icon-zhongzhi1:before { content: "\e679"; }

.icon-jiaose:before { content: "\e67a"; }

.icon-mimacelve:before { content: "\e67e"; }

.icon-anquanrizhi:before { content: "\e67f"; }

.icon-bianmaguizedingyi:before { content: "\e680"; }

.icon-bujuguanli:before { content: "\e681"; }

.icon-bianmaguiyingshe:before { content: "\e682"; }

.icon-chaxunmobanguanli:before { content: "\e683"; }

.icon-chaxunmobansheji:before { content: "\e684"; }

.icon-tiaodurenwujiankong:before { content: "\e685"; }

.icon-tiaodurenwurizhi:before { content: "\e686"; }

.icon-liuchengdingyi:before { content: "\e687"; }

.icon-jiaosefenpeiyonghu:before { content: "\e688"; }

.icon-jichengxitongguanli:before { content: "\e689"; }

.icon-liuchengjiankong:before { content: "\e68a"; }

.icon-liuchengtongji:before { content: "\e68b"; }

.icon-renwuchajian:before { content: "\e68c"; }

.icon-liuchengxiaoxishezhi:before { content: "\e68d"; }

.icon-liuchengshezhi:before { content: "\e68e"; }

.icon-shijianpeizhijiemian:before { content: "\e68f"; }

.icon-shuchumobanguanli:before { content: "\e690"; }

.icon-shujuquanxian:before { content: "\e691"; }

.icon-xiaoxijiankong:before { content: "\e692"; }

.icon-shuchumobansheji:before { content: "\e693"; }

.icon-yewudanyuan:before { content: "\e694"; }

.icon-xiaoximobanguanli:before { content: "\e695"; }

.icon-xiaoxitongdaopeizhi:before { content: "\e696"; }

.icon-xiaoxizhongxin:before { content: "\e697"; }

.icon-yewurizhi:before { content: "\e698"; }

.icon-yuanshujuguanli:before { content: "\e699"; }

.icon-yonghuyingshe:before { content: "\e69a"; }

.icon-licensejiankong:before { content: "\e69b"; }

.icon-UImobansheji:before { content: "\e69c"; }

.icon-UImobanguanli:before { content: "\e69d"; }

.icon-tiaodurenwuguanli:before { content: "\e69e"; }

.icon-fenpeixiaoyingyong:before { content: "\e69f"; }

.icon-fenpei:before { content: "\e6a0"; }

.icon-gengduo:before { content: "\e6a1"; }

.icon-shuangjiantouxiangyou:before { content: "\e6a2"; }

.icon-shuangjiantouxiangzuo:before { content: "\e6a3"; }

.icon-rizhi:before { content: "\e6a4"; }

.icon-tianjia:before { content: "\e6a5"; }

.icon-chakan:before { content: "\e6a6"; }

.icon-fanhui:before { content: "\e6a7"; }

