.left-side-content {
  position: absolute;
  z-index: 9999;
  height: 100%;
  box-shadow: 0 0 4px #d9d9d9;
  top:40px;
  overflow: auto;
}
.left-side-bar-header {
  height: 40px;
}
.left-side-content-info {
  height: calc(100% - 40px);
}
.left-side-content .u-menu {
  box-shadow: none;
  border: none;
}
.left-side-content-info>li {
  /* height: 40px; */
}
