
@font-face {font-family: "menufont";
  src: url('iconfont.eot?t=1466664306'); /* IE9*/
  src: url('iconfont.eot?t=1466664306#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1466664306') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1466664306') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1466664306#iconfont') format('svg'); /* iOS 4.1- */
}

.menufont {
  font-family:"menufont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/*icon-class*/
.icon-C-music:before { content: "\e601"; }
.icon-C-photo:before { content: "\e602"; }
.icon-C-heart:before { content: "\e604"; }
.icon-C-book:before { content: "\e605"; }
.icon-C-phone:before { content: "\e607"; }
.icon-C-lock:before { content: "\e608"; }
.icon-C-html5:before { content: "\e609"; }
.icon-C-oslinux:before { content: "\e60a"; }
.icon-C-gears:before { content: "\e60d"; }
.icon-C-fire:before { content: "\e60e"; }
.icon-C-flags:before { content: "\e610"; }
.icon-C-ioscloud:before { content: "\e611"; }
.icon-C-iconfontplane:before { content: "\e612"; }
.icon-C-facetime:before { content: "\e613"; }
.icon-C-win:before { content: "\e614"; }
.icon-C-github:before { content: "\e615"; }
.icon-C-bug:before { content: "\e616"; }
.icon-C-desktop:before { content: "\e617"; }
.icon-C-money:before { content: "\e618"; }
.icon-C-qrcode:before { content: "\e619"; }
.icon-C-suitcase:before { content: "\e61a"; }
.icon-C-bookmarks:before { content: "\e626"; }
.icon-C-uesrs:before { content: "\e627"; }
.icon-C-dribble:before { content: "\e61d"; }
.icon-C-android:before { content: "\e60b"; }
.icon-C-app:before { content: "\e60c"; }
.icon-C-authorization:before { content: "\e60f"; }
.icon-C-chemical:before { content: "\e61b"; }
.icon-C-favorite:before { content: "\e61c"; }
.icon-C-gift:before { content: "\e61e"; }
.icon-C-home:before { content: "\e61f"; }
.icon-C-more:before { content: "\e620"; }
.icon-C-organization:before { content: "\e621"; }
.icon-C-palette:before { content: "\e622"; }
.icon-C-setting:before { content: "\e623"; }
.icon-C-statistical:before { content: "\e624"; }
.icon-C-tea:before { content: "\e625"; }
.icon-C-electricity:before { content: "\e628"; }
.icon-C-enterprise:before { content: "\e629"; }
.icon-C-erp:before { content: "\e62a"; }
.icon-C-maintain:before { content: "\e62b"; }
.icon-C-organizationicon:before { content: "\e62c"; }
.icon-C-requisition:before { content: "\e62d"; }
.icon-C-role:before { content: "\e62e"; }
.icon-C-salestogether:before { content: "\e62f"; }
.icon-C-sales:before { content: "\e630"; }
.icon-C-shopping:before { content: "\e631"; }
.icon-C-subscription:before { content: "\e635"; }
.icon-C-source:before { content: "\e636"; }
.icon-C-apple:before { content: "\e603"; }
.icon-C-pad:before { content: "\e606"; }
.icon-C-car:before { content: "\e637"; }
.icon-C-c1688:before { content: "\e600"; }
.icon-C-capprove:before { content: "\e632"; }
.icon-C-cauth:before { content: "\e633"; }
.icon-C-ccarright:before { content: "\e634"; }
.icon-C-classg:before { content: "\e638"; }
.icon-C-cclassy:before { content: "\e639"; }
.icon-C-cdelivery:before { content: "\e63a"; }
.icon-C-centerprise:before { content: "\e63b"; }
.icon-C-cgoods:before { content: "\e63c"; }
.icon-C-cinquiry:before { content: "\e63d"; }
.icon-C-cinvioce:before { content: "\e63e"; }
.icon-C-cmaterial:before { content: "\e63f"; }
.icon-C-coffer:before { content: "\e640"; }
.icon-C-corder:before { content: "\e641"; }
.icon-C-corg:before { content: "\e642"; }
.icon-C-cpro:before { content: "\e643"; }
.icon-C-cprocess:before { content: "\e644"; }
.icon-C-csecurity:before { content: "\e645"; }
.icon-C-cshipping:before { content: "\e646"; }
.icon-C-cstorage:before { content: "\e647"; }
.icon-C-cgateway:before { content: "\e648"; }
.icon-C-cscalling:before { content: "\e649"; }
.icon-C-csupplier:before { content: "\e64a"; }
.icon-C-cusers:before { content: "\e64b"; }
.icon-C-handinvolice:before { content: "\e64c"; }
.icon-C-incoiceapply:before { content: "\e64d"; }
.icon-C-invoicehis:before { content: "\e64e"; }
.icon-C-invoiceinformation:before { content: "\e64f"; }
.icon-C-taxequipment:before { content: "\e650"; }
.icon-C-taxinformation:before { content: "\e651"; }
.icon-gongxiangfuwu:before { content: "\e652"; }
.icon-xitongshezhi:before { content: "\e653"; }
.icon-yuangongjiaqin:before { content: "\e654"; }
