.modal{
    height:100%;
    width:100%;
    position: absolute;
    margin: 0px;
    background:rgba(0,0,0,0.65);
}

.modal .u-form-control{
    height: 40px;
}

.modal-en .content{
    width: 800px;
}

.reset-modal .content{
    width: 485px;
    height: 270px;
}

.modal-en.reset-modal .content{
    width: 605px;
}

.reset-modal .content .modal-content{
    height: 167px;
}

.content{
    margin-top:123px;
    width:565px;
    height:310px;    
    margin-left: auto;
    margin-right:auto;
    background-color:rgba(255,255,255,1);
    border-radius:4px;
}
.content .modal-title{
    height:35px;
    width:100%;
    background:rgba(248,249,251,1);
    border-radius:3px 3px 0px 0px;
    line-height: 35px;
    font-size:14px;
    font-family:PingFangHK-Medium;
    color:#000912;
    padding:0 20px;
}
.content .modal-content{
    height:207px;
    width:100%;
}
.content .modal-foot{
    width:100%;
    height:58px;
}
.self-close{
    width:14px;
    height:35px;
    color:rgba(123,123,123,1);
    font-size: 14px;
    line-height: 35px;
    float: right;
    cursor: pointer;
}

.modelClose{
    color: #757f8c;
    cursor: pointer;
    font-size: 14px;
}