
@font-face {font-family: "enterprisefont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#enterprisefont') format('svg'); /* iOS 4.1- */
}

.enterprisefont {
  font-family:"enterprisefont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-gengduo:before { content: "\e60a"; }
.icon-iconfontcha:before { content: "\e608"; }
.icon-xiugai:before { content: "\e60d"; }
.icon-renwu:before { content: "\e602"; }
.icon-fenxiang:before { content: "\e601"; }
.icon-gonggao:before { content: "\e603"; }
.icon-youjian:before { content: "\e605"; }
.icon-youjianyidu:before { content: "\e606"; }
.icon-yujingdaibanicon:before { content: "\e600"; }
.icon-iconfontzuidahua:before { content: "\e607"; }
.icon-iconfontzuixiaohua:before { content: "\e609"; }
.icon-iconshouqi:before { content: "\e60b"; }
.icon-iconzhankai:before { content: "\e60c"; }
.icon-bujuguanli:before { content: "\e612"; }
.icon-renwuchajian:before { content: "\e613"; }
.icon-xitongjicheng:before { content: "\e614"; }
.icon-yonghuyingshe:before { content: "\e615"; }
.icon-mimacelve:before { content: "\e610"; }
.icon-bumen:before { content: "\e638"; }
.icon-zuzhijiegou:before { content: "\e639"; }
.icon-shujuquanxian:before { content: "\e63a"; }
.icon-pingzhengguanli:before { content: "\e63b"; }
.icon-jiaosefenpeiyonghu:before { content: "\e63c"; }
.icon-fabudaocaidan:before { content: "\e63d"; }
.icon-fuzhi:before { content: "\e63e"; }
.icon-xiaoxichajian:before { content: "\e67e"; }